<div class="font-poppins w-screen overflow-hidden px-4">

    <!-- Navbar  -->
    <nav class="flex py-4 px-4 justify-between border-b ">

        <div class="font-semibold md:mx-10">
            NotOcean
        </div>

        <div class="hidden md:flex md:gap-6 md:mx-10 " >
            <p>Products</p>
            <p>Teams</p>
            <p>Individulas</p>
            <p>Pricing</p>
            <p>Downloads</p>
        </div>
        
    </nav>



    <!-- Hero Section -->

    <div class="flex flex-col md:px-0 md:flex-row py-12 mx-12 justify-center items-center border-b border-gray-200">

        <!-- Left Section -->
        <div class="md:w-[45vw] md:mt-10 md:px-20">

            <h1 class="text-7xl font-bold my-6">The Happier Workspace</h1>

            <p class="text-2xl tracking-tight text-gray-400 font-light my-4">NotOcean is a platform that helps you to manage your projects, teams and tasks in one place.</p>

            <button class="py-2 px-4 my-4 bg-black text-white text-center rounded-lg ">Get Started</button>
        </div>


        <!-- Right Section  -->
        <div class="w-full md:w-[55vw] rounded-lg md:px-20">
            <video src="assets/pages.mp4" autoplay muted class="rounded-lg" ></video>
        </div>

    </div>

    <!-- Product Showcase Section -->

    <div class="mb-20 mt-10 my-28 flex flex-col justify-center items-center">

        <h1 class="text-7xl font-bold my-6 max-w-5xl text-center tracking-tight">
            One Stop Solution to Every Problem
        </h1>

        <p class="text-xl text-gray-300 font-light my-6 max-w-5xl text-center tracking-tight ">
            Our all-in-one To-Do application simplifies task management for every need. From daily chores to complex projects, enjoy seamless scheduling, smart reminders, collaboration.
        </p>

        <video src="assets/vid2.mp4" class="rounded-lg shadow mt-10" autoplay muted></video>
    </div>




</div>
